.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal__container {
  background-color: #fff;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 10px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  padding: 9px 25px;
}

.modal__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 46px;
}

.modal__close {
  background: transparent;
  border: 0;
  &:before{
    color: #fff;
  }
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  padding: 25px;
  label{
    display: block;
    margin-bottom: 25px;
    span{
      display: block;
      color: #303030;
      font-size: 16px;
      font-weight: 500;
      padding-left: 4px;
      padding-bottom: 6px;
    }
    input{
      width: 400px;
      height: 40px;
      border: 1px solid #b5b5b5;
      padding: 5px 10px;
    }
    textarea{
      display: block;
      padding: 5px 10px;
      width: 100%;
      resize: none;
      height: 100px;
      border: 1px solid #b5b5b5;
    }
  }
  @media(max-width: 474px){
    label{
      input{
        width: 100%;
      }
    }
    .cancel-btn{
      margin-left: 0;
    }
  }
}

.modal-btns{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  @media(max-width: 474px){
    justify-content: center;
    .header-btn{
      margin-top: 10px;
    }
  }
}


/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}